.info_panel{
  height: 90vh;
  width: 30%;
  display: inline-block;
  position: absolute;
}

div.tooltip {
  position: absolute;
  opacity: 0;
}

div.tooltip.appear {
  opacity: 1;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #f2f2f2;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.points circle {
  fill: none;
}

.points text {
  font: 11px sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.route {
  fill: none;
  /* stroke: #102253; */
}