<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.12.2/d3.js' charset='utf-8'></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://unpkg.com/topojson@3"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src='js/utils.js' charset='utf-8'></script>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/info-bar.css" />
</head>

<body>
  <div id="vis_map">
    <svg :width="width" :height="height" id="container" pointer-events="all">
    </svg>
    <div class="info_panel">
      <select v-model="selected_origin">
        <option value="">Seleccione origen</option>
        <option v-for="country in possible_origins" :value="country[0]">
          {{ country[1]["pais_estudio"] }}
        </option>
      </select>
      <!-- <span>Selected: {{ selected_origin }}</span> -->

      <select v-model="selected_destination">
        <option value="">Seleccione destino</option>
        <option v-for="country in selected_origin != '' ? countries[selected_origin]['dest'] : []" :value="country">
          {{ countries[country]["pais_estudio"] }}
        </option>
      </select>
      <!-- <span>Selected: {{ selected_destination }}</span> -->
      <br>
      <h1>
        {{info_title}}
      </h1>
      <info-bar :selected="selected" :ofos="ofos"></info-bar>
    </div>
  </div>
  <script src="js/info-bar-component.js"></script>
  <script src="js/script.js"></script>
</body>

</html>